section {
    text-align: justify;
}

p {
    text-align: justify;
}

h2 {
    text-align: justify;
}

@media only screen and (max-width: 400px) {
    section {
        margin: 15px;
        padding: 15px;
    }
}