section {
  margin: 50px;
  padding: 50px;
  color: #292828;
  border-radius: 25px;
  background-color: #D1AEF4;
}

.buttonEnviar {
  border: 0;
  color: #292828;
  padding: 10px;
  font-weight: bold;
  border-radius: 8%;
}

.buttonEnviar:hover {
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  background-color: #17c03c;
}

.button {
  border: 0;
  color: #292828;
  padding: 25px;
}

.button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #b78ce3;
}

